---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />
<h2><a href="/blogs/" title="The first post">Blog Post 1</a></h2>