---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><img class="main-logo" alt="INTerstella Logo" src="/images/SpaceShip.svg" width="50" /><strong>INTerstella</strong> Homepage</h1>
<h2><a href="/blog1/" title="The first post">The Wonders of the Cosmos</a></h2>
<h2><a href="/blog2/" title="The first post">A Message to Those Who Follow</a></h2>