:root{
    --background_color : #1A1B41;
    --main-surface : #28666E;
    --secondary-surface : #7FDEFF;
    --text-color :  #D3E8EE;
    --pop-important : #632071;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    background: var(--background_color);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: var(--main-surface);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    border: thick double var(--secondary-surface);
}

h1 strong {
    background: rgb(34,193,195);
    background: no-repeat center/100% url(/images/SpaceCartoon.jpg) var(--text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
}

img.main-logo{
    display: inline;
    height: 100%;
    vertical-align: middle;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

img.about {
    opacity: 0.5;
}